/-DATA
/.bash_history
/.bash_logout
/.bashrc
/.cache
/.config
/.gnupg
/.ipynb_checkpoints
/.ipython
/.jupyter
/.local
/.model_wt_valloss.py.swp
/.nv
/.profile
/.python_history
/.viminfo
/.vscode
/.vscode-server
/.wget-hsts
/1..txt
/1.py
/1.txt
/DATA
/Untitled.ipynb
/__pycache__
/anaconda3
/avg_global_ppr.txt
/cfiles
/commands.txt
/cpr
/data
/densenet121_256_64_0.001
/downloads
/efficient_net.ipynb
/external
/final model_averaging.ipynb
/global_ppr_wt.txt
/good-stanford_efficient net.ipynb
/good_nih_nohup.py
/good_nih_nohup.txt
/good_stanford_efficient_nohup.txt
/good_stanford_efficientnet_nohup.py
/good_stanford_nohup.py
/good_stanford_nohup.txt
/good_stanford_train=valid_nohup.txt
/images
/main.py
/model_averaging copy.ipynb
/model_averaging.ipynb
/model_gold_nohup_100+50epoch.txt
/model_gold_nohup_102epoch.txt
/model_wt_averaging.ipynb
/model_wt_new.py
/model_wt_new.txt
/model_wt_new_all.py
/model_wt_test.py
/model_wt_test.txt
/model_wt_trainl.py
/model_wt_trainl.txt
/model_wt_trainl_test.py
/model_wt_trainl_test.txt
/model_wt_vall_copy.txt
/model_wt_vall_copy_test.txt
/model_wt_valloss.py
/models_test.py
/models_test_all.py
/new-efficient_nohup_sample.txt
/new-nih.ipynb
/new-nih.py
/new-nih_nohup_fulldata.txt
/new-stanford.ipynb
/new-stanford_efficient.py
/new-stanford_efiicientnet.ipynb
/new.ipynb
/nih.ipynb
/nih_gold.ipynb
/nih_gold_nohup.py
/nih_gold_nohup.txt
/nih_ppr_gold.ipynb
/nih_ppr_gold_100epoch.py
/nih_ppr_gold_100epoch.txt
/no use
/nohup.out
/os
/other
/plots_fl.ipynb
/save_pid.txt
/save_pid_1.txt
/save_pid_avg_global_ppr.txt
/save_pid_global_ppr_wts.txt
/save_pid_nih.txt
/save_pid_nih_100+50epoch.txt
/save_pid_nih_102epoch.txt
/save_pid_nih_ppr_gold_100epoch.txt
/save_pid_stanford.txt
/save_pid_test_avg_global_ppr.txt
/save_pid_test_global_ppr_wt.txt
/save_pid_test_nih_gold_100+2epoch.txt
/save_pid_test_nih_ppr_gol_2epoch.txt
/save_pid_test_nih_ppr_gold_100epoch.txt
/save_pid_wt_avg.txt
/save_pid_wt_test.txt
/save_pid_wt_trainl.txt
/save_pid_wt_trainl_test.txt
/save_pid_wt_val_copy.txt
/save_pid_wt_val_copy_test.txt
/save_pidtest.txt
/saved_models
/stanford.ipynb
/stanford_gold.ipynb
/stanford_gold_nohup.py
/stanford_gold_nohup.txt
/test_avg_global_ppr.txt
/test_global_ppr_wt.txt
/test_nih_gold_100epoch+2epcoh.txt
/test_nih_gold_100epoch+2epcoh_2.txt
/test_nih_ppr_gold_100epoch.txt
/test_nih_ppr_gold_2epoch.txt